body {
    margin-bottom: 60px;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.intro-heading {
    background: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.home-slider {
    padding: 0;
    width: 80%; max-height:40em; min-height:20em;
    margin: 0 auto;
}

.home-slider h5{
    font-size: 60px;
}

.home-slider p{
    font-size: 30px;
}
.carousel-caption {
    bottom: 10%;
}
.carousel-inner {
    height: 20em;
}
.carousel-item {
    height: 90%;
}

.card-img-top {
    width:100%;
    max-height: 30%;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}